<h1>New Shark Form</h1>
<form action="/sharks" method="post">
  Name: <input type="text" name="name">
  Species: <input type="text" name="species">
  Length: <input type="text" name="length">
  Location: <input type="text" name="region">
  <input type="submit">
</form>
